<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378224660100-ln709qh3v4dq7i0frmut4cigd8l6p57u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378224660100-ln709qh3v4dq7i0frmut4cigd8l6p57u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>378224660100-9ot653uh75a5r29vk2lqmomsai3ls8bt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYOphBKvs0_0_8rdELprJWgxKb-2ncoKE</string>
	<key>GCM_SENDER_ID</key>
	<string>378224660100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreyfb.medical</string>
	<key>PROJECT_ID</key>
	<string>tccflutterflow</string>
	<key>STORAGE_BUCKET</key>
	<string>tccflutterflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378224660100:ios:d93a734103894bf359bcd1</string>
</dict>
</plist>